<div class="col">
    <div class="text-center mt-3">
        <h2>{{"Reset password" | translate}}</h2>
    </div>

    <div mat-dialog-content class="text-center">
        <mat-form-field>
            <mat-label>{{ 'Current password' | translate }}</mat-label>
            <input type="password" matInput [(ngModel)]="data.oldPasswordHash">
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>{{ 'New password' | translate }}</mat-label>
            <input type="password" matInput [(ngModel)]="data.passwordHash">
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>{{ 'Repeat new password' | translate }}</mat-label>
            <input type="password" matInput [(ngModel)]="data.passwordHash2">
        </mat-form-field><br> 
    </div>

    <div *ngIf="showAlert">
        <p style="color:red; text-align: center; font-size: small;">{{"Password do not match. Try again" | translate}}.</p>
    </div>

    <div class="m-3">
        <button class="btn btn-success float-end" (click)="onSave()">{{ 'Save' | translate }}</button>
        <button class="btn btn-danger" (click)="onCancel()">{{ 'Cancel' | translate }}</button>
    </div>
</div>