
<div class="text-center">
    <h1 class="font display-4">{{"If you don't know what to eat" | translate}}</h1>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card p-4 shadow-sm border-light">
                <div class="d-flex flex-column gap-3">

                    <button class="btn btn-primary" (click)="getRandom()">
                        {{'Random recipe' | translate}} <i class="material-icons">shuffle</i> 
                    </button>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedTypeId">
                        <option value="" disabled selected>{{ 'Select food type' | translate }}</option>
                        <option *ngFor="let typeOfFood of allTypesOfFood" value={{typeOfFood.id}}>
                            {{typeOfFood.typeName | translate}} <br><br>
                        </option>
                    </select>
                    <button class="btn btn-primary" (click)="getRandomForType(selectedTypeId)">
                        {{'Random recipe for selected type' | translate}} <i class="material-icons">shuffle</i>
                    </button>
                    <button class="btn btn-primary" (click)="getRecipesByIngredients(ingredients)"> 
                        {{'Recipes for your ingredients' | translate}} <i class="material-icons">list</i> 
                    </button>

                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="recipeId != '' && recipe != undefined">
            <div class="card p-4 shadow-sm border-light">
                <div class="row ">
                    <mat-card class="example-card" appearance="outlined"> 
                        <mat-card-header style="display:flex;">
                            <div mat-card-avatar class="example-header-image" style="background-image: url('assets/images/{{getUserSex(recipe.userId)}}.svg');">
                                <i class="material-icons verified-icon" *ngIf="getUserRole(recipe.userId) == 'VERIFIED USER'">verified</i>
                            </div> 
                            <mat-card-title (click)="showRecipeId(recipe.id)">{{ recipe.recipeName }}</mat-card-title>
                            <mat-card-subtitle> {{ getTypeName(recipe.typeOfFoodId) | translate}} </mat-card-subtitle>

                            <div *ngIf="recipeNutritions"> <!-- Ovde ne moze absolute positioning ako se smanjuje stranica bezi -->
                                <span class="badge-sugar-free" *ngIf="(recipeNutritions!.sugar) < 0.5">
                                    <i class="material-icons">pentagon</i> Sugar<br>Free
                                </span>
                            </div>
                        </mat-card-header>
        
                        <div *ngIf="recipe.recipeName.length <= 17">
                            <div class="razmak"></div>
                          </div>
                          <img mat-card-image src="assets/images/{{ recipe.picture }}" alt="{{ recipe.recipeName }}"  (click)="showRecipeId(recipe.id)">
                          <br>
                          <mat-card-content>
                              {{ recipe.instructions | slice:0:125 }}
                              <span *ngIf="recipe.instructions.length <= 125"><br><br></span>
                              <span *ngIf="recipe.instructions.length > 125">...</span>
                          </mat-card-content>
                        <br>
                        <mat-card-actions>
                            <b>{{'Posted' | translate}}: &nbsp;</b> <span> {{ recipe.createdAt | date:'dd-MM-yyyy' }} </span>
        
                            <span class="circle green" *ngIf="recipe.timeToPrepare <= 15"> 
                                {{ recipe.timeToPrepare}} min</span>
                            <span class="circle orange" *ngIf="recipe.timeToPrepare > 15 && recipe.timeToPrepare < 60" >
                                {{ recipe.timeToPrepare}} min</span>
                            <span class="circle red" *ngIf="recipe.timeToPrepare > 60 ">
                                {{ recipe.timeToPrepare}}min</span>   
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>    
        <div class="col-md-2" *ngIf="recipeNutritions">
            <div class="card p-4 shadow-sm border-light">
                <div class="d-flex flex-column gap-3">
                    <div class="font2 text-center">
                        <h3 >{{"Nutritive values (100g)" | translate}}</h3>
                        <div class="col-md-20 mb-3 mt-0">
                            <b>{{"Carbs" | translate}}: </b> <span>{{recipeNutritions!.carbs / recipeNutritions!.weight * 100 | number:'1.2-2'}}g</span>
                        </div>
                        <div class="col-md-20 mb-3">
                            <b>{{"Sugars" | translate}}: </b> <span>{{recipeNutritions!.sugar / recipeNutritions!.weight * 100 | number:'1.2-2'}}g</span>
                        </div>
                        <div class="col-md-20 mb-3">
                            <b>{{"Fat" | translate}}: </b> <span>{{recipeNutritions!.fat / recipeNutritions!.weight * 100 | number:'1.2-2'}}g</span>
                        </div>
                        <div class="col-md-20 mb-3">
                            <b>{{"Protein" | translate}}: </b> <span>{{recipeNutritions!.protein / recipeNutritions!.weight * 100 | number:'1.2-2'}}g</span>
                        </div>
                        <div class="col-md-20 mb-3">
                            <b>{{"Energy" | translate}}: </b> <span>{{recipeNutritions!.kCal / recipeNutritions!.weight * 100 | number:'1.2-2'}}kCal</span>
                        </div>
                        <div class="col-md-20 mb-3">
                            <b>{{"Glycemic load" | translate}}: </b> <span>{{ recipeNutritions.gl | number:'1.2-2' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 p-3" > 
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
