.size
{
  width: 41%;
}

.size2
{
  flex: 0 0 20%; 
  max-width: 20%; 
}

.size3
{
  width: 50%;
}

.size4
{
  width: 35%;
}


.flex-container {
  display: flex;
  align-items: center;
}

.input-group {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.select-width {
  width: 70%;
}

.input-width {
  width: 30%;
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
  }
  
  .alert-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .alert-content p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
  }
  
  .alert-content button {
    background-color:  #669999;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .alert-content button:hover {
    background-color:  #486D6D ;
  }
  