<div class="container">
    <h2>Welcome to the Recepti Type 1 </h2>
    <button [routerLink]="['/recipes']" class="btn btn-primary">All recipes </button>&nbsp;
    <button [routerLink]="['/create']" class="btn btn-primary">New recipe</button>&nbsp;
    <button [routerLink]="['/diet/create']" class="btn btn-primary">New diet</button>&nbsp;
    <button [routerLink]="['/login']" class="btn btn-primary">Login </button>&nbsp;
    <button [routerLink]="['/register']" class="btn btn-primary">Register</button>&nbsp;
</div>

