<div class="color">
    <div class="container">
        <div class="mb-5 text-center">
            <h1>Welcome to the Recepti Type 1 </h1>
        </div>
        <div fxLayout="" fxLayoutAlign="center center" fxLayoutGap="50px grid"> 
            <div *ngFor="let recipe of filteredRecipes"> 
                <mat-card class="example-card" appearance="outlined"> 
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image" style="background-image: url('assets/images/{{getUserSex(recipe.userId)}}.svg');" (click)="showUserId(recipe.userId)"></div><!--KLIKOM NA SLIKU DA SE OTVORI JAVAN PROFIL TOG KORISNIKA -->
                        <mat-card-title (click)="showRecipeId(recipe.id)">{{ recipe.recipeName }}</mat-card-title>
                        <mat-card-subtitle> {{ getTypeName(recipe.typeOfFoodId) }} </mat-card-subtitle>
                    </mat-card-header>

                    <img mat-card-image src="assets/images/{{ recipe.picture }}" alt="{{ recipe.recipeName }}"  (click)="showRecipeId(recipe.id)">
                    <br>
                </mat-card>
            </div>
        </div>
    </div>
</div>