<div class="container col-md-6 small">
    <div class="text-center mb-5 mt-3">
        <h2>{{"Login" | translate}}</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >

        <div class="mb-3">
            &nbsp;<label class="form-label">{{"Email" | translate}}</label>
            <input class="form-control" class="form-control" type="email" formControlName="email">
            <small class="text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                {{"Email is required" | translate}}.
            </small>
        </div>
        <div class="mb-3">
            &nbsp;<label class="form-label">{{"Password" | translate}}</label>
            <input class="form-control" type="password" formControlName="passwordHash">
            <small class="text-danger" *ngIf="loginForm.get('passwordHash')?.invalid && loginForm.get('passwordHash')?.touched">
                {{"Password is required" | translate}}.
            </small>
        </div>
        <div *ngIf="showAlert">
            <p style="color:red">{{"User not found" | translate}}.</p>
        </div>
        <div *ngIf="showAlert2">
            <p style="color:red">{{"Bad password. Try again" | translate}}.</p>
        </div>

        <button class="btn btn-success float-end" type="submit" [disabled]="loginForm.invalid">{{"Login" | translate}}</button>
        <button [routerLink]="['/']" class="btn btn-primary" >{{"Continue as guest" | translate}}</button>
    </form>
</div>