<div class="container col-md-6 small">
    <div class="text-center mb-5 mt-3">
        <h2>{{"Forgot your password?" | translate}}</h2>
    </div>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" >

        <div class="mb-3">
            &nbsp;<label class="form-label">{{"Email" | translate}}</label>
            <input class="form-control" class="form-control" type="email" formControlName="email">
            <small class="text-danger" *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched">
                {{"Email is required" | translate}}.
            </small>
        </div>

        <div class="mb-3">
            &nbsp;<label class="form-label">{{"Password" | translate}}</label>
            <input class="form-control" type="password" formControlName="passwordHash">
            <small class="text-danger" *ngIf="resetForm.get('passwordHash')?.invalid && resetForm.get('passwordHash')?.touched">
                {{"Password is required and must be at least 8 characters long" | translate}}.
            </small>
        </div>
        <div class="mb-3">
            &nbsp;<label class="form-label">{{"Repeat Password" | translate}}</label>
            <input class="form-control" type="password" formControlName="passwordHash2">
            <small class="text-danger" *ngIf="resetForm.get('passwordHash2')?.invalid && resetForm.get('passwordHash2')?.touched">
                {{"Password is required and must be at least 8 characters long" | translate}}.
            </small>
        </div>  


        <div *ngIf="question != ''" class="row mb-3">
            <div class="col">
                &nbsp;<label class="form-label">{{"Safety question" | translate}}</label><br>
                <input class="form-control" aria-label="Default select example" [value]= "question" readonly >
            </div>    
            <div class="col">
                &nbsp;<label class="form-label">{{"Answer" | translate}}</label>
                <input class="form-control" class="form-control" type="question" formControlName="question">
                <small class="text-danger" *ngIf="resetForm.get('question')?.invalid && resetForm.get('question')?.touched">
                    {{"Answer is required" | translate}}.
                </small>
            </div>
        </div>

        <div *ngIf="showAlert">
            <p style="color:red">{{"User not found" | translate}}.</p>
        </div>
        <div *ngIf="showAlert2">
            <p style="color:red">{{"Password do not match. Try again" | translate}}.</p>
        </div>
        <div *ngIf="showAlert3">
            <p style="color:red">{{"Wrong answer." | translate}}.</p>
        </div>

        <button [routerLink]="['/login']" class="btn btn-danger" >{{"Cancel" | translate}}</button>
        <button *ngIf="question != ''" class="btn btn-success float-end" type="submit" [disabled]="resetForm.invalid">{{"Reset" | translate}}</button>
        <button *ngIf="question == ''" class="btn btn-success float-end" type="submit" [disabled]="resetForm.invalid">{{"Show question" | translate}}</button>
    </form>
</div>