

<div class="text-center mb-5 mt-3">
    <h2>{{ recipe?.recipeName }}</h2>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-6">
            <label>Nacin pripreme</label> <br>
            <b>Instrukcije:</b> {{ recipe?.instructions }} <br>
            <b>Vreme za pripremu:</b> {{ recipe?.timeToPrepare }} min <br>
            <b>Izbaceno: </b> <span>{{ recipe?.createdAt | date:'yyyy-MM-dd' }}</span> <br>
            <b>Javni:</b> {{ recipe?.shared }} <br>
            <b>Slika: </b>{{ recipe?.picture }}
        </div>
        <div class="col-6">
            <label>Nutritivne vrednosti</label> <br>
            <b>Ugljeni hidrati:</b> {{ recipeNutritions?.carbs }}g <br>
            <b>Seceri:</b> {{ recipeNutritions?.sugar }}g <br>
            <b>Masti:</b> {{ recipeNutritions?.fat }}g <br>
            <b>Proteini:</b> {{ recipeNutritions?.protein }}g <br>
            <b>Energetska vrednost: </b>{{ recipeNutritions?.kCal }} kCal <br>
            
            <b>Glikemijsko opterecenje celog jela (GL):</b><!-- {{ recipeNutritions?.gl }} <br>-->
            <b><span *ngIf="recipeNutritions && recipeNutritions.gl < 10" style="color:green"> 
                {{ recipeNutritions.gl | number:'1.2-2' }} </span>
            <span *ngIf="recipeNutritions && recipeNutritions.gl >= 10 && recipeNutritions.gl < 20" style="color:orange"> 
                {{ recipeNutritions.gl | number:'1.2-2' }} </span>
            <span *ngIf="recipeNutritions && recipeNutritions.gl >= 20" style="color:red"> 
                {{ recipeNutritions.gl | number:'1.2-2' }} </span> </b><br>
            
            <b>Glikemijsko opterecenje za 100g (GL):</b><!-- {{ recipeNutritions?.gl }} <br>-->
            <b><span *ngIf="recipeNutritions && recipeNutritions.gl / recipeNutritions.weight * 100 < 10" style="color:green"> 
                {{ recipeNutritions.gl / recipeNutritions.weight * 100 | number:'1.2-2' }} </span>
            <span *ngIf="recipeNutritions && recipeNutritions.gl / recipeNutritions.weight * 100  >= 10 && recipeNutritions.gl / recipeNutritions.weight * 100 < 20" style="color:orange"> 
                {{ recipeNutritions.gl / recipeNutritions.weight * 100 | number:'1.2-2' }} </span>
            <span *ngIf="recipeNutritions && recipeNutritions.gl / recipeNutritions.weight * 100  >= 20" style="color:red"> 
                {{ recipeNutritions.gl / recipeNutritions.weight * 100 | number:'1.2-2' }} </span> </b><br> 
                
            <b>Ukupna tezina: </b> 
            <span *ngIf="recipeNutritions && recipeNutritions.weight > 1000"> {{ recipeNutritions.weight / 1000 }} kg</span> 
            <span *ngIf="recipeNutritions && recipeNutritions.weight <= 1000"> {{ recipeNutritions.weight }} g </span>
        </div>
    </div>
    <button class="btn btn-primary" [routerLink]="['/recipes']">Back</button>
</div>

   
