.example-card {
    width: 320px;
    height: 420px;
  }
  
.example-header-image {
background-size: cover;
}

mat-card:hover{
    transform: scale(1.10);
    cursor:pointer;
}

mat-card{
    transition: transform .2s;
}

img{
    height:200px;
}

.sort-dropdown{
    margin-left: 20px;
}

.circle {
    float: right;
    /*display: inline-block;*/
    width: 60px; /* Adjust width and height as needed */
    height: 60px; /* Adjust width and height as needed */
    line-height: 50px; /* Centers text vertically */
    text-align: center; /* Centers text horizontally */
    border-radius: 50%; /* Makes it a circle */
    border: 3px solid; /* Border color and thickness */
    background-color: white; /* Circle color */
    font-weight: bold; /* Optional: make text bold */
  }
