<div class="text-center mb-5 mt-3">
    <h1>All recipes</h1>
</div>

<div class="container">

    <mat-form-field>
        <input matInput (keyup)="search($event)" placeholder="Search">
    </mat-form-field>

    <mat-form-field class="sort-dropdown">
        <mat-select (selectionChange)="sortRecipes($event.value)" placeholder="Sort">
            <mat-option value="timeLowHigh">Time: Low to High</mat-option>
            <mat-option value="timeHighLow">Time: High to Low</mat-option>
            <mat-option value="nameA-Z">Name: A-Z</mat-option>
            <mat-option value="nameZ-A">Name: Z-A</mat-option>
            <!--<mat-option value="likeLowHigh">Likes: Low to High</mat-option>
            <mat-option value="likeHighLow">Likes: High to Low</mat-option>-->
        </mat-select>
    </mat-form-field>

    <div fxLayout="row wrap" fxLayoutGap="50px grid" >
        <div *ngFor="let recipe of filteredRecipes">
            <mat-card class="example-card" appearance="outlined"> <!--lep prikaz pomocu mat-card sa sve slikom-->
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url('assets/images/female.svg');"></div>
                    <mat-card-title>{{ recipe.recipeName }}</mat-card-title>
                    <mat-card-subtitle> Smuti i napitci </mat-card-subtitle><!--{{ recipe.userId }} ili {{ recipe.typeOfFoodId}}-->
                </mat-card-header>

                <img mat-card-image src="assets/images/{{ recipe.picture }}" alt="{{ recipe.recipeName }}"  (click)="showRecipeId(recipe.id)">
                <br>
                <mat-card-content>
                    {{ recipe.instructions | slice:0:75 }}
                    <span *ngIf="recipe.instructions.length <= 75"><br><br></span>
                    <span *ngIf="recipe.instructions.length > 75">...</span>
                </mat-card-content>

                <mat-card-actions>
                    <!--<button mat-button (click)="likeRecipe(recipe.id)">Like</button>
                    <button mat-button>Share</button>--> <!--OSTAVITI ZA POJEDINACNI PRIKAZ RECEPTA-->
                    <!--BROJ LAJKOVA DA BUDE PRIKAZAN-->
                    <b>Posted at: </b> <span> {{ recipe.createdAt | date:'yyyy-MM-dd' }} </span>

                    <span class="circle" *ngIf="recipe.timeToPrepare <= 15" style="color:green"> <!--NEKAKO DA BUDU ZAOKRUZENO LEPO MOZE I PORED DUGMICA-->
                        {{ recipe.timeToPrepare}} min</span>
                    <span class="circle" *ngIf="recipe.timeToPrepare > 15 && recipe.timeToPrepare < 60" style="color:orange">
                        {{ recipe.timeToPrepare}} min</span>
                    <span class="circle" *ngIf="recipe.timeToPrepare > 60 " style="color:red">
                        {{ recipe.timeToPrepare}}min</span>   
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<br>