<div class="container col-md-6">
    <div class="text-center mb-5 mt-3">
        <h2>Create new recipe </h2>
    </div>

    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" >

        <div class="row mb-3">
            <div class="col-8">
                <label class="form-label">Name of recipe</label>
                <input class="form-control" type="text" formControlName="recipeName">
                <small class="text-danger" *ngIf="createForm.get('recipeName')?.invalid && createForm.get('recipeName')?.touched">
                    Name of recipe is required.
                </small>
            </div>
            <div class="col-4">
                <label class="form-label">Time needed</label>
                <input class="form-control" type="number" formControlName="timeToPrepare">
                <small class="text-danger" *ngIf="createForm.get('timeToPrepare')?.invalid && createForm.get('timeToPrepare')?.touched">
                    Preparation time is required.
                </small>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Instructions</label>
            <textarea class="form-control" rows="5" formControlName="instructions"></textarea>
            <small class="text-danger" *ngIf="createForm.get('instructions')?.invalid && createForm.get('instructions')?.touched">
                Instructions are required.
            </small>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Choose type of food </label><br>
                <select class="form-select" aria-label="Default select example" formControlName="typeOfFoodId">
                    <option *ngFor="let typeOfFood of typesOfFood" value={{typeOfFood.id}}>
                        {{typeOfFood.typeName}} <br><br>
                    </option>
                </select>
                <small class="text-danger" *ngIf="createForm.get('typeOfFoodId')?.invalid && createForm.get('typeOfFoodId')?.touched">
                    Type of food is required.
                </small>
            </div>  
            <div class="col">
                <label class="form-label">Choose image</label>
                <input class="form-control" type="file" (change)="onChange($event)" id="pictures">
                <input class="form-control" type="hidden" formControlName="picture"> 
            </div>
        </div>
        <!--
        <div class="mb-3 form-check form-switch">
            <label class="form-label">Do you want recipe to be public</label>
            <input class="form-control form-check-input" type="checkbox" formControlName="shared">
        </div>-->
        <!--dodato odavde-->
        <div class="row mb-3">
            <div class="col">
                    <label class="form-label">Choose number of ingredients</label>
                    <input type="number" class="form-control" min="0" placeholder="Number of ingredients"  [(ngModel)]="kolicina" />
            </div>
            <div class="col">
                <br><br>
                <div class="form-check form-switch">
                    <label class="form-label">Do you want recipe to be public</label>
                    <input class="form-control form-check-input " type="checkbox" formControlName="shared">
                </div>
            </div>
        </div>
        <div *ngIf="kolicina > 0">
            Izabrano: {{kolicina}} sastojaka.
        </div>
        <!--dovde-->
        <div class="mb-3">
            <div>
                <div *ngFor="let item of recipeItems.controls; let i = index" [formGroupName]="i" class="row">
                <div class="col-8">
                    <label class="form-label">Ingredient Id</label>
                    <input class="form-control" type="text" formControlName="ingredientId">
                </div>
                <div class="col-4">
                    <label class="form-label">Quantity</label>
                    <input class="form-control small-input" type="number" min="0" formControlName="quantity">
                </div>
                </div>
            </div>
        </div>
        <!--
        <div class="mb-3">
            <div formArrayName="recipeItems">
                <div *ngFor="let item of recipeItems.controls; let i = index" [formGroupName]="i" class="row">
                <div class="col-8">
                    <label class="form-label">Ingredient Id</label>
                    <input class="form-control" type="text" formControlName="ingredientId">
                </div>
                <div class="col-4">
                    <label class="form-label">Quantity</label>
                    <input class="form-control small-input" type="number" min="0" formControlName="quantity">
                </div>
                </div>
            </div>
        </div>
        -->
        <button class="btn btn-success" type="submit" [disabled]="createForm.invalid">Create new</button>
        <button [routerLink]="['/']" class="btn btn-danger float-end" style="margin-left: auto;">Cancel</button>
    </form>
</div>