

<div class="card p-4 shadow-sm border-light">
    <div class="ingredient-selector">
        <form (ngSubmit)="onSubmit()">
            <h3>{{"Please select ingredients that you have" | translate}}</h3>
            <input [formControl]="ingredientInput" placeholder="Type to select ingredients that you have..."/>
        
            <ul *ngIf="filteredIngredients.length > 0" class="suggestions">
            <li *ngFor="let ingredient of filteredIngredients" (click)="addIngredient(ingredient)">
                {{ ingredient.name }}
            </li>
            </ul>

            <div class="selected-ingredients">
                <span *ngFor="let ingredient of selectedIngredients" class="tag" (click)="removeIngredient(ingredient)">
                    {{ ingredient.name }} &times;
                </span>
            </div>

            <h3>{{"Please select ingredients that you don't have" | translate}}</h3>
            <input [formControl]="ingredientInput2" placeholder="Type to select ingredients that you don't have..."/>
        
            <ul *ngIf="filteredIngredients2.length > 0" class="suggestions">
            <li *ngFor="let ingredient2 of filteredIngredients2" (click)="addIngredient2(ingredient2)">
                {{ ingredient2.name }}
            </li>
            </ul>

            <div class="selected-ingredients">
                <span *ngFor="let ingredient2 of selectedIngredients2" class="tag2" (click)="removeIngredient2(ingredient2)">
                    {{ ingredient2.name }} &times;
                </span>
            </div>

            <button class="btn btn-success  float-end" type="submit" >{{"Get recipes" | translate}}</button>
        </form>
    </div>
</div>

<div *ngIf="recipes.length > 0">
    <div>
        <span *ngFor="let recipe of recipes" (click)="showRecipeId(recipe.id)">
            {{ recipe.recipeName }} 
        </span>
    </div>
</div>
