
<mat-toolbar>
    <mat-toolbar-row >
        <!--<img class="ime" src="../assets/images/RecipesType13.png">-->
        <h1 [routerLink]="['/home']" class="clickable-header">{{ 'Recipes Type 1' | translate }}</h1>
        <span class="left-buttons">
            <button *ngIf="!isMobile" [routerLink]="['/recipes']" class="color">{{'All recipes' | translate}}</button>
            <button *ngIf="!isMobile && isLogged" [routerLink]="['/create']" class="color">{{'New recipe' | translate}}</button>
            <button *ngIf="!isMobile && isLogged" [routerLink]="['/diets']" class="color">{{'All diets' | translate}}</button>
            <button *ngIf="!isMobile && isLogged" [routerLink]="['/diets/create']" class="color">{{'New diet' | translate}}</button>
            <button *ngIf="!isMobile" [routerLink]="['/info']" class="color">{{'Info' | translate}}</button>
        </span>
        <span class="spacer"></span>
        <span class="right-buttons">

            <select class="form-select form-select-sm lang-color" (change)="changeLanguage($event)">
                <option class="options" value="en">English</option>
                <option class="options" value="srb">Srpski</option>
            </select>

            <button *ngIf="!isMobile && !isLogged" [routerLink]="['/login']" class="color">{{'Login' | translate}}</button>
            <button *ngIf="!isMobile && !isLogged" [routerLink]="['/register']" class="color">{{'Register' | translate}}</button>
            <button *ngIf="!isMobile && isLogged" class="color"  (click)="showUserId()">
                <img class="img" *ngIf="!isMobile && isLogged" src="assets/images/{{this.user?.sex}}.svg">
                {{ this.username }}
            </button>
            <button *ngIf="!isMobile && isLogged" class="color2" (click)="logout()">{{'Logout' | translate}}</button>
        </span>
        <span class="menu">
            <button *ngIf="!isMobile" [matMenuTriggerFor]="menu" aria-label="More options" class="menu-button">
                <mat-icon class="menu-icon">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/recipes']">{{'All recipes' | translate}}</button>
                <button *ngIf="isLogged" mat-menu-item [routerLink]="['/create']">{{'New recipe' | translate}}</button>
                <button *ngIf="isLogged" mat-menu-item [routerLink]="['/diets']">{{'All diets' | translate}}</button>
                <button *ngIf="isLogged" mat-menu-item [routerLink]="['/diets/create']">{{'New diet' | translate}}</button>
                <button mat-menu-item [routerLink]="['/info']">{{'Info' | translate}}</button>
                <button *ngIf="!isLogged" mat-menu-item [routerLink]="['/login']">{{'Login' | translate}}</button>
                <button *ngIf="!isLogged" mat-menu-item [routerLink]="['/register']">{{'Register' | translate}}</button>
                <button *ngIf="isLogged" mat-menu-item (click)="showUserId()">{{ this.username }}</button>
                <button *ngIf="isLogged" mat-menu-item (click)="logout()">{{'Logout' | translate}}</button>
              </mat-menu>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet> </router-outlet>
