
<mat-toolbar>
    <mat-toolbar-row >
        <h1>Recepti Type 1 </h1>
        <span class="left-buttons">
            <button *ngIf="!isMobile" [routerLink]="['/recipes']" class="color">All recipes</button>
            <button *ngIf="!isMobile && isLogged" [routerLink]="['/create']" class="color">New recipe</button>
            <button *ngIf="!isMobile && isLogged" [routerLink]="['/diets']" class="color">All diets</button>
            <button *ngIf="!isMobile && isLogged" [routerLink]="['/diets/create']" class="color">New diet</button>
        </span>
        <span class="spacer"></span>
        <span class="right-buttons">
            <button *ngIf="!isMobile && !isLogged" [routerLink]="['/login']" class="color">Login</button>
            <button *ngIf="!isMobile && !isLogged" [routerLink]="['/register']" class="color">Register</button>
            <button *ngIf="!isMobile && isLogged" class="color" (click)="logout()">Logout</button>
        </span>
        <span class="menu">
            <button *ngIf="!isMobile" [matMenuTriggerFor]="menu" aria-label="More options" class="menu-button">
                <mat-icon class="menu-icon">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/recipes']">All recipes</button>
                <button *ngIf="!isLogged" mat-menu-item [routerLink]="['/create']">New recipe</button>
                <button *ngIf="!isLogged" mat-menu-item [routerLink]="['/diets']">All diets</button>
                <button *ngIf="!isLogged" mat-menu-item [routerLink]="['/diets/create']">New diet</button>
                <button *ngIf="!isLogged" mat-menu-item [routerLink]="['/login']">Login</button>
                <button *ngIf="!isLogged" mat-menu-item [routerLink]="['/register']">Register</button>
                <button *ngIf="isLogged" class="color" (click)="logout()">Logout</button>
              </mat-menu>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet> </router-outlet>
