
<div class="container">
    <div class="text-center">
        <h1 class="font">{{ diet.dietName }}</h1> <!--KAD SE IZABERE DIJETA IZBACI POTREBNE STVARI ALI POSLE PUKNE ?!?-->
    </div>

    <div>
        &nbsp;<b>Kreirano: </b> <span>{{ diet.createdAt | date:'yyyy-MM-dd' }}</span> <br><br>

        <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Ponedeljak</th>
                <th>Utorak</th>
                <th>Sreda</th>
                <th>Cetvrtak</th>
                <th>Petak</th>
                <th>Subota</th>
                <th>Nedelja</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let meal of tableData; let i = index">
                <th><!--{{tableData[0]}} ovde su svi dorucci za svaki dan redom  -->
                    {{ rows[i] }}
                </th>
                <td *ngFor="let cell of meal">
                    {{ cell }} 
                </td>
              </tr>
            </tbody>
          </table>

        <!--<table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Ponedeljak</th>
                <th>Utorak</th>
                <th>Sreda</th>
                <th>Cetvrtak</th>
                <th>Petak</th>
                <th>Subota</th>
                <th>Nedelja</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData">
                <td *ngFor="let cell of row">{{ cell }}</td>
              </tr>
            </tbody>
          </table>
        <div *ngFor="let meal of diet.planOfDiets"> <-- DOBIJA SE POREDJANO PO DANIMA PA PO OBROCIMA --
            <span *ngIf="meal.typeOfMealId == '01a5ba31-d107-41cc-9902-7da073e9f43b'">
                Dorucak: {{meal.recipeId}}
            </span>
            <span *ngIf="meal.typeOfMealId == '02863f22-e6ca-404f-a909-eb685273e786'">
                Uzina prepodne: {{meal.recipeId}}
            </span>
            <span *ngIf="meal.typeOfMealId == '03d56869-ec65-86e7-4de2-e004e9167ac8'">
                Rucak: {{meal.recipeId}}
            </span>
            <span *ngIf="meal.typeOfMealId == '04bb129c-76e6-3cd1-db54-b41521ed91bb'">
                Uzina popodne: {{meal.recipeId}}
            </span>
            <span *ngIf="meal.typeOfMealId == '056cb8fd-c9c7-435c-ac00-574c82929c34'">
                Vecera: {{meal.recipeId}}
            </span>
        </div>-->
    </div>
</div>

<!-- types of meal nije uopste bilo potrebe da se enkoduje ovo ovako...
01a5ba31-d107-41cc-9902-7da073e9f43b - dorucak
02863f22-e6ca-404f-a909-eb685273e786 - uzina prepodne
03d56869-ec65-86e7-4de2-e004e9167ac8 - rucak
04bb129c-76e6-3cd1-db54-b41521ed91bb - uzina popodne 
056cb8fd-c9c7-435c-ac00-574c82929c34 - vecera
-->