.font
{
    font-size: 40px;
    color: #669999;
}

.sides {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligns items vertically centered, optional */
}

.table-border
{
    border: 3px solid #669999;
}

.table th, .table td, .table tr
{
    max-width: 50px;
}

.img
{
    height: 75px;
    width: 100px;
}

.field
{
    max-width: 0px !important;
}

.field1
{
    max-width: 45px !important;
}

.text
{
    text-align: center;
}

@media (max-width: 1300px) {
    .img {
        display: none; 
    }
}/*Ne skida mi se dijeta sa slikama ovako ?*/