<div class="col">
    <div class="text-center mt-3">
        <h2>{{"Change user's role" | translate}}</h2>
    </div>

    <div mat-dialog-content class="text-center">
        <mat-form-field class="width">
            <mat-label>{{ 'Role' | translate }}</mat-label>
            <!--<input matInput [(ngModel)]="data.role">-->
            <mat-select [(ngModel)]="data.role">
                <mat-option value="USER">{{ 'User' | translate }}</mat-option>
                <mat-option value="VERIFIED USER">{{ 'Verified user' | translate }}</mat-option>
                <mat-option value="ADMIN">{{ 'Admin' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>&nbsp;&nbsp;&nbsp;    
    </div>

    <div class="m-3">
        <button class="btn btn-success float-end" (click)="onSave()">{{ 'Save' | translate }}</button>
        <button class="btn btn-danger" (click)="onCancel()">{{ 'Cancel' | translate }}</button>
    </div>
</div>