.example-header-image {
  position: relative;
  width: 50px;
  height: 50px;
  background-size: cover;
}

.verified-icon {
  position: absolute;
  bottom: -10px; 
  right: -10px;  
  font-size: 24px; 
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 50%;
  padding: 1px;
  color:#4099FF;
}


.size
{
    width:30%
}

.font
{
    /*font-size: 50px;
    color: #669999;*/
}
.font2
{
    font-size: 17px;/*15px*/
    line-height: 1.3;
}


.hover:hover
{
    cursor:pointer;
}


.center 
{
    margin: 0 auto;
    max-width: fit-content; /* Adjust width as needed */
}

.font2 b
{
    font-weight: 600;
}

.solid-hr {
    border: 0;                 
    height: 1.5px;               
    background-color: #669999;   
    max-width: 333px;
}

.color
{
    color:#993300; 
    font-size: 28px;
    display: inline-block;
    text-align: left;
}

.small
{
    font-size: 0.8em;
}

.btn.color
{
    background-color:#001a33;
    color:white;
    margin-right: 5px;
}

.custom-alert 
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
  }
  
  .alert-content 
  {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .alert-content p 
  {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
  }
  
  .alert-content button 
  {
    background-color:  red;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .alert-content button:hover 
  {
    background-color:  darkred ;
  }

  .alert-content .button1 
  {
    background-color:  darkgrey;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .alert-content .button1:hover 
  {
    background-color:  grey ;
  }