<div class="container col-md-6 small">
    <div class="text-center mb-5 mt-3">
        <h2>User Registration </h2>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Name</label>
                <input class="form-control" type="text" formControlName="name">
                <small class="text-danger" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
                    Name is required.
                </small>
            </div>
            <div class="col">
                <label class="form-label">Lastname</label>
                <input class="form-control" type="text" formControlName="lastname">
                <small class="text-danger" *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched">
                    Lastname is required.
                </small>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" type="text" formControlName="username">
            <small class="text-danger" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                Username is required.
            </small>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" class="form-control" type="email" formControlName="email">
            <small class="text-danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                Correct email format is required.
            </small>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" formControlName="passwordHash">
            <small class="text-danger" *ngIf="registerForm.get('passwordHash')?.invalid && registerForm.get('passwordHash')?.touched">
                Password is required and must be at least 8 characters long.
            </small>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Date of birth</label>
                <input class="form-control" type="date" formControlName="dateOfBirth">
                <small class="text-danger" *ngIf="registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched">
                    Date of birth is required.
                </small>
            </div>
            <div class="col">
                <label class="form-label">Sex</label>
                <select class="form-select" aria-label="Default select example" formControlName="sex">
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                </select>
                <small class="text-danger" *ngIf="registerForm.get('sex')?.invalid && registerForm.get('sex')?.touched">
                    Sex is required.
                </small>
            </div>
        </div>


        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Choose question for reseting password</label><br>
                <select class="form-select" aria-label="Default select example" formControlName="questionId">
                    <option *ngFor="let question of questions" value={{question.id}}>
                        {{question.questionName}} <br><br>
                    </option>
                </select>
            </div>    
            <div class="col">
                <label class="form-label">Answer previously selected question</label>
                <input class="form-control" type="password" formControlName="forgotPasswordAnswerHash">
                <small class="text-danger" *ngIf="registerForm.get('forgotPasswordAnswerHash')?.invalid && registerForm.get('forgotPasswordAnswerHash')?.touched">
                    Answer is required.
                </small>
            </div>
        </div>
        <div *ngIf="showAlert" class="custom-alert">
            <div class="alert-content">
              <p>An user with this email already exists.</p>
              <button (click)="closeAlert()">OK</button>
            </div>
        </div>
        <button class="btn btn-success float-end" type="submit" [disabled]="registerForm.invalid">Register</button>
        <button [routerLink]="['/login']" class="btn btn-primary" >Already have account?</button>
    </form>
</div>